Source: ros-noetic-atf-test
Section: misc
Priority: optional
Maintainer: Florian Weisshardt <florian.weisshardt@mojin-robotics.de>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-atf-core <!nocheck>, ros-noetic-catkin, ros-noetic-rostest <!nocheck>
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-atf-test
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-atf-core, ros-noetic-atf-test-tools, ros-noetic-rospy, ros-noetic-rostopic, ros-noetic-tf2-ros
Description: Example test configuration to verifying the correct behaviour of the ATF.
