Source: ros-noetic-atf
Section: misc
Priority: optional
Maintainer: Florian Weisshardt <florian.weisshardt@mojin-robotics.de>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-atf
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-atf-core, ros-noetic-atf-metrics, ros-noetic-atf-msgs, ros-noetic-atf-plotter, ros-noetic-atf-recorder-plugins, ros-noetic-atf-test, ros-noetic-atf-test-tools
Description: An automated testing framework (ATF) written for ROS which supports executing integration and system tests, running benchmarks and monitor the code behaviour over time.
 The ATF provides basic building blocks for easy integration of the tests into your application. Furthermore the ATF provides everything to automate the execution and analysis of tests as well as a graphical web-based frontend to visualize the results.
