Source: ros-noetic-atf-metrics
Section: misc
Priority: optional
Maintainer: Florian Weisshardt <florian.weisshardt@mojin-robotics.de>
Build-Depends: debhelper (>= 9.0.0), python3-setuptools, ros-noetic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-atf-metrics
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-atf-msgs, ros-noetic-rospy, ros-noetic-tf, ros-noetic-tf2-py, ros-noetic-tf2-ros
Description: Metrics for the ATF.
